@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* Start Page */
/*
html {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

*/
.start h1 {
  font-size: 4em;
  text-align: center;
}

/*
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  height: 2.4em;
  width: 6em;
  border-radius: 2px;
  background-color: var(--background-color);
  color: white;
  border: 2px solid white;
  padding: 0.5em 1em;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: #f59645;
  --accent-color: #35c0c2;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

button:hover::before,
button:focus::before {
  transform: scaleX(1);
}

button {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

button:hover,
button:focus {
  color: white;
}

input {
  outline: none;
  height: 2.56em;
  width: 16em;
} */

body {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  background-color: rgb(135, 129, 129);
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}

.start-button {
  width: 165px;
  height: 70px;
  margin-left: 13px;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  background-color: #35c0c2;
  border: solid white;
  color: white;
}
