@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/*......... Added with Navbar........ */
/* @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* ............................... */

/* Start Page */

/* LOGO COLOURS
color: #197e9c; MAIN BLUE
color: #35c0c2; MAIN TEAL
color: #f59645; MAIN ORANGE
color: #bce6f8; Light blueish-grey
color: #575759; Dark grey from logo text */

html {
  height: fit-content;
}

/* .start h2 {
  font-size: 4em;
  font-family: Poppins, sans-serif;
  text-align: center;
} */

p {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  text-align: justify;
}

body {
  font-size: 15px;
  font-family: Poppins, sans-serif;
  background-color: #f3f3f3;
  /* margin: 20px, 10px, 10px, 20px; */
  /* display: flex;
	flex-direction: column;
	align-items: center; */
  /* height: 100vh; */
  place-items: center;
}

/* Style below by Nikita with the button. Did not removed it incase needed in the future */

/* .start-button {
  width: 165px;
  height: 72px;
  margin-left: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  background-color: #35c0c2;
  border: solid white;
  color: white;
  transition: 0.5s;
  border-radius: 5px;
}

.start-button:hover {
  background: #f59645 url(./images/pixel.png);
  background-color: #f59645;
  transition-delay: 0.3s;
  background-size: 190px;
  animation: animate 0.8s steps(10) forwards;
  border: none;
} */

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -475px; /* -448 is good */
  }
}
