/* *************************** GENERIC STUFF *************************** */
/*......... Added with Navbar........ */
 @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

 .admin-container, .navbar, .list-table{
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
/* ............................... */
/* Page In General */

h1 {
  width: 200px;
}
h2 {
  text-align: center;
}

.admin-container  {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* width: 80vw; */
  /* height: 100%; */
  height:90vh;
}

/* Page Top */

.admin-logo {
  height: 100px;
  position: relative;
  left: 20px;
}


.admin-container-title-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-container-top {
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 0px 20px;
  align-items: flex-end;
}

/* Page Bottom */
.admin-container-bottom {
  padding: 20px;
  background-color: #bce6f8;
  margin: 0px -20px -20px -20px;
  border-radius: 0 0 5px 5px;
}

/* Buttons and Input */
.admin-container input,
.admin-container button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
}

.admin-container button {
  border: 0;
  background-color: #197e9c;
  color:white;
  font-size: 1rem;
}

.main-admin-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.main-admin-buttons button {
  margin: 10px 10px 0px 10px;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.main-admin-buttons button:hover,
.save-survey-button:hover {
  background-color: #35c0c2;
}

/* Misc */
.dividerLine {
  border-bottom: rgba(0, 0, 0, 0.2) solid;
  padding: 20px 0;
}

.note-to-self {
  color: red;
  font-size: .9rem;
  padding: 0;
}



/* *************************** FIND SURVEY *************************** */
.company-and-survey-name-inputs {
  display: flex;
  margin: 10px auto;
  width: 50%;
}

.company-and-survey-name-inputs input {
  width: 100%;
  font-size: 1rem;
}

.search-input {
  display: inline;
}



/* *************************** CREATE SURVEY *************************** */

/* Left and Right Parts */
.survey-selection-container {
  display: flex;
  background-color: #bce6f8;
}

/* Left Sidebar */
.survey-selection-sidebar {
  width: 15%;
  padding: 10px 20px;
  margin-left: -20px;
}

.survey-selection-sidebar button {
  margin: 0;
  margin-left: -20px;
  border-radius: 0 10px 10px 0px;
  border: 1px #bce6f8 solid;
  border-left: 0;
  padding: 10px 0;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: inset -3px -3px 10px grey;
  color: black;
}

.survey-selection-sidebar button:hover {
  transform: translate(1px, 1px);
}

/* Right Custom Part */
.admin-question-component {
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: 15px;
}

.updated-copy-of-survey 
.admin-question-component {
  width: 80%;
  margin: 15px auto;
}

.admin-question-component label,
.admin-question-component input {
  display: inline-block;
  margin: 0px;
}

.narrative {
  display: flex;
  justify-content: space-between;
}

/* .narrative-buttons button {
  width: 40px;
  cursor: pointer;
} */

.narrative-text-area {
  width: 85%;
}

.narrative-text-area-input {
  width: 100% !important; 
}

.survey-selected-components {
  padding: 0;
  width: 100%;
  height: 100%;
}

.survey-selected-components input[type="radio"],
.survey-selected-components input[type="checkbox"] {
  width: 40px;
}

.survey-selected-components-background {
  /* padding: 10px; */
  padding-top: 0;
  height: 100%;
}

/* Bottom (save button) */
.save-survey-button-and-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.list-table table{
  /* margin: 0 auto; */
  margin-top: 20px;
  display:flex;
  justify-content: center;
  text-align: center; 
  border-collapse: collapse;
  margin-bottom: 70px;
}

.list-table th {
  background-color: grey;
  color: white;
  font-weight: bolder;  
  padding: 2px 20px 2px 20px;
}

.list-table td {
  border: 1px solid #cecfd5;  
  padding: 10px 15px;
  /* text-align: center;   */
}

.list-table h2{
  margin-bottom:30px;
  text-align: center;
}

.list-table .icon1, .icon2, .icon3, .icon4{
  background-color: white;
  font-size: medium;
  border:none;
}

.list-table .slash{
  margin-left: 5px;
  margin-right: 5px;
}

.list-table .icon1[title] .icon2[title] .icon3[title] .icon4[title] :hover:after{
  content:attr(title);
}

.postalCodeone {
  display: flex;
  flex-direction: column;
}
.postalCodecontainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.edit-button button, 
.editCommentbutton button {
  width: 40px; 
  cursor: pointer;
  background-color: #197e9c;
  
}
.CommentOne{
  display: flex;
  flex-direction: column;
}

.commentOnecontainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}
/* .editCommentbutton button {
  width: 40px; 
} */