/* *************************** GENERIC STUFF *************************** */

html {
  scroll-behavior: smooth;
	height: 100%;
}
.navbar{
  position: sticky;
  top:0;
  z-index: 5;
}

/* Navbar styling */
.cihkkG {
  width: 100% !important;
  padding: 10px 0px !important;
}

.admin-container,
.navbar,
.list-table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.data-collected, .data-visual{
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
}
/* ............................... */
/* Page In General */
.data-collected .data-text{
  font-size:x-small;
}

/* h1 {
  width: 200px;
} */


h2 {
  text-align: center;
  /* margin-left: 215px; */
}

.admin-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  /* padding: 20px; */
  /* width: 80vw; */
  /* height: 100%; */
  height: 100%;
}

/* Page Top */

.admin-logo {
  height: 90px;
  position: relative;
	right: 10%;
}

.admin-container-title-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-container-top {
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 0px 20px;
  align-items: flex-end;
}

/* Page Bottom */
.admin-container-bottom {
  padding: 20px;
  /* background-color:#bce6f8; */
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: #f5f5f5;
  /* background-color:rgb(217, 233, 238); */
  margin: 0px;
  border-radius: 0 0 5px 5px;
  min-height: 100vh;
}

/* Buttons and Input */
.side-border-line input {
  border: 1px solid #444;
}

.admin-container input,
.admin-container button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
}

.admin-container .questionText input {
  width: 80%;
}

.admin-container input::placeholder {
  color: #666;
}

.admin-container button {
  border: 0;
  background-color: #197e9c;
  color: white;
  font-size: 1rem;
}

.main-admin-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.main-admin-buttons button {
  margin: 10px 10px 0px 10px;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.main-admin-buttons button:hover,
.save-survey-button:hover {
  background-color: #35c0c2;
}

input[type=radio],
input[type=checkbox] {
  transform: scale(1.5);
}

/* Misc */
.dividerLine {
  border-bottom: rgba(0, 0, 0, 0.2) solid;
  padding: 20px 0;
}

/* *************************** FIND SURVEY *************************** */
.company-and-survey-name-inputs {
  display: flex;
  /* margin: 10px auto 0px auto; */
  /* margin: 10px auto 10px 210px; */
  margin: 20px auto;
  /* width: 70%; */
}

.company-and-survey-name-inputs input {
  font-size: 1rem;
  padding: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display:block;
  min-width: 130%;
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%), -8px -8px 12px 0 rgb(255 255 255);
}

.company-and-survey-name-inputs .col{
  margin-right: 90px;
}
.search-input {
  display: inline;
}

.company-and-survey-name-inputs-and-error {
  display: flex;
  flex-direction: column;
}

.validation-error-name-version-number {
  width: 100%;
  align-self: center;
  height: 20px;
  display: flex;
  justify-content: center;
}

.validation-error-name-version-number p {
  color: red;
  padding: 0;
  font-size: 0.85rem;
  align-self: center;
}

/* *************************** CREATE SURVEY *************************** */

/* Left and Right Parts */
.survey-selection-container {
  display: flex;
  /* background-color:#bce6f8; */
  /* background-color: rgb(217, 233, 238); */
}

/* Left Sidebar */
.survey-selection-sidebar {
  /* width: 15%;
  padding: 10px 20px;
  margin-left: -20px;
  position: sticky;
  top: 0;
  height: 100%; */
  /*** Replace the code above with the following if we want 2 rows of square buttons instead. (1 of 3) */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  position: sticky;
  top: 90px;
  height: 100%; 
  padding-top: 15px;
}

.survey-selection-sidebar button {
  /* margin: 0;
  margin-left: -20px;
  border-radius: 0 10px 10px 0px;
  border: 1px #bce6f8 solid;
  border-left: 0;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: inset -3px -3px 10px grey;
  color: black;
  display: flex; */
  /*** Replace the code above with the following if we want 2 rows of square buttons instead. (2 of 3) */
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  /* border: 1px #bce6f8 solid; */
  /* border: 1px black solid; */
  /* border: 1px black solid; */
  font-size: 1rem;
  background-color: #fff;
  /* box-shadow: inset -3px -3px 10px grey; */
  /* box-shadow: inset -8px -8px 10px 0 rgb(0 0 0 / 25%), inset -8px -8px 10px 0 rgb(255 255 255), inset 1px 1px 4px 0 rgb(0 0 0 / 25%); */
  box-shadow: inset -4px -4px 5px 0 rgb(0 0 0 / 25%), inset -8px -8px 5px 0 rgb(255 255 255), inset 1px 1px 4px 0 rgb(0 0 0 / 25%);
  color: black;
  width: 100px;
  height: 100px;
}

.survey-selection-sidebar .icons{
  /* padding-right: 20px; */
  /*** Replace the code above with the following if we want 2 rows of square buttons instead. (3 of 3) */
  display: block;
  font-size: 2rem;
  /*** Keep the following line of code uncommented always. When this line is removed, if we click on the icon, the button doesn't work. */
  pointer-events: none; 
}

.survey-selection-sidebar button:hover {
  transform: translate(1px, 1px);
}

/* Right Custom Part */
.admin-question-component {
  /* border: 1px black solid; */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: 15px;
  display: flex;
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%), -8px -8px 12px 0 rgb(255 255 255);
  overflow: none;
}

.updated-copy-of-survey .admin-question-component {
  width: 80%;
  margin: 15px auto;
}

.admin-question-component label,
.admin-question-component input,
.admin-question-component select{
  display: inline-block;
  margin: 0px;
  box-shadow: none !important;
}

.admin-question-component textarea{
  outline: none;
    padding: 10px !important;
    height: 60px !important;
    /* width: 90% !important; */
    width: 80% !important;
    color: black !important;
    border: none;
    border-radius: 10px;
    /* background-color: rgb(238, 237, 237); */
    box-shadow: none !important;
}

.admin-question-component.narrative-component textarea {
  height: 100% !important; 
	width: 100% !important; 
}

.admin-question-component input[type="radio"],
.admin-question-component input[type="checkbox"] {
  pointer-events: none;
}

.narrative-text-area {
  width: 100%;
  /* height: 300px;
	width: 800px; */
}

.narrative-text-area-input {
  width: 100% !important;
  white-space:break-spaces;
  /* height: 300px;
	width: 800px; */
}

.survey-selected-components {
  padding: 0;
  width: 100%;
  height: 100%;
}

.survey-selected-components input[type="radio"],
.survey-selected-components input[type="checkbox"] {
  width: 40px;
}

.survey-selected-components-background {
  /* padding: 10px; */
  padding-top: 0;
  height: 100%;
}

.survey-selected-components .intro-heading{
  padding: 0px;
  /* margin: 15px; */
  /* width: 100%; */
}
.survey-selected-components .intro-heading input{
  width:98%;
  padding: 10px 10px;
  margin: 10px 0;
  /* border: 1px solid #ddd; */
  border: none;
  box-sizing: border-box;
  display:block;
  border-radius: 10px;
}
.survey-selected-components .intro-heading label{
font-weight: bold;  
/* margin-left:3px; */
}
.survey-selected-components .intro-heading input::placeholder{
  align-items: center;
}

/* Bottom (save button) */
.save-survey-button-and-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
	height: 90px;
}

.save-survey-button-and-link button {
  font-weight: bold;
  font-size: 1.2rem;
}

.list-table table{
  /* margin: 0 auto; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 70px;
  /* display: grid; */
	overflow: scroll;
	height: 450px;
}

.data-table table{
    /* margin: 0 auto; */
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 70px;
    overflow: scroll;
    height: 380px;
	}
  
	.data-table {
	/* display: flex; */
	/* justify-content: center; */
	overflow: scroll;
}

.master-data-table {
    display: flex;
    justify-content: center;
}

.question-list{
  display:flex;
  justify-content: center;
  text-align: center;
  height: 220px;
  overflow: scroll;
}

.data-visual .question-list {
  height: auto;
  overflow: auto;
}

.data-visual table{
  margin-top: 20px;
  display:flex;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 70px;
}

.list-table th {
  background-color: grey;
  color: white;
  font-weight: bolder;
  padding: 2px 20px 2px 20px;
}

.list-table th,
.list-table td,
.question-list td {
  border: 1px solid #17171a;
  padding: 10px 15px;
  /* text-align: center;   */
}

.data-collected .obj{
  text-align: start;
}

.data-table td{
  border: 1px solid #cecfd5;
  padding:2px 10px;
}
.data-table th{
  background-color: grey;
  color: white;
  font-weight: bolder;
  padding: 2px 5px 2px 5px;
}

.list-table h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.list-table a {
  text-decoration: none;
}

.list-table tr:hover {
  /* background-color: #f59645 !important; */
  background-color: hsl(28, 90%, 72%) !important;
}

.data-collected .upper-section, .data-visual .upper-section{
  margin-top: 20px;
  margin-left:40px;
  padding: 10px 0px 0px 10px;
  /* border: 1px solid black; */
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-collected .record-num{
  margin-top: 30px;
  margin-bottom: 10px;
  background: #393F4B;
  color: white;
  padding:5px 5px;  
}

.data-collected .record-num span{
  margin-left:10px;
  color:#f59645;
}

.data-collected button{
  border: 0;
  background-color:  #393F4B;
  color: white;
  padding:6px;
  border-radius: 6px;
  cursor: pointer;
}
.data-collected .display{
  margin-left:10px;
}

.data-collected .export{
  margin-bottom: 10px;
  /* margin-left: 1750px; */
}

.existing-surveys-edit-column {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.list-table .existing-surveys-edit-icon {
  font-size: medium;
  border: none;
  background-color: inherit;
  margin: 0 7px;
  cursor: pointer;
}

.list-table .existing-surveys-edit-icon[title]
  :hover:after {
  content: attr(title);
}

.question-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.question-and-options {
  display: flex;
  flex-direction: column;
}

.side-border-line {
  border-right: 0.5px #197e9c solid;
  width: 100%;
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.delete-option-button {
  width: 65px !important;
}

/* .questionText is for the edit and save button when you are in the edit mode */
.questionText {
  display: flex;
  flex-direction: column;
}

.edit-buttons-group {
  display: flex;
  flex-direction: column;
}

.edit-button {
  display: flex;
  flex-direction: column;
}

.edit-button button {
  cursor: pointer;
  background-color: white;
  color: #197e9c;
  padding: 0px 0px;
  margin: 10px 0px 5px 10px;
  text-align: left;
  width: 80px;
}
.edit-button .add-option{
  width: auto;
}

.slider-admin {
  display: grid;
  grid-template-columns: 3fr 9fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 1em;
  width: 100%;
  line-height: 1em;
  height: 40px;
  margin: 5px 5px 5px 0;
}

.slider-admin-edit {
	display: grid;
	grid-template-columns: 1fr 1fr 9fr 1fr;
}

.slider-admin-edit button {
  margin-right: 60px;
}

.slider-admin-edit input {
  width: 250px !important;
  padding: 10px !important;
  background-color: #fff !important;
  border: 1px solid #444 !important;
}

.slider-admin p {
  font-size: 1rem;
  height: auto;
  font-size: 1em;
  padding: 0px;
  margin: auto 0;
  text-align: start;
}

.slider-admin div {
  margin: auto;
}

.slider-admin input {
  outline: none;
  background-color: rgb(244, 241, 241);
  color: #444;
  width: 4em;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 4px #cbced1, inset -8px -8px 8px #ffffff;
  height: fit-content;
  margin: auto;
}

.upload-image {
	display: grid;
	justify-items: center;
	border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: 15px;
	width: auto;
	height: auto;
	background-color: white;
}

 .upload-image h5 {
	 font-size: 1.5em;
	cursor: pointer;
	border-radius: 10px;
	padding: auto;
}
/* 
.upload-image input{
	background-color: rgb(197, 0, 0);
} */

/* CHARTS */
.chart-container {
  width: 500px;
}

.checkboxes-other-responses p {
  font-size: 0.75rem;
  padding: 5px;
}
