/* LOGO COLOURS
color: #197e9c; MAIN BLUE
color: #35c0c2; MAIN TEAL
color: #f59645; MAIN ORANGE
color: #bce6f8; Light blueish-grey
color: #575759; Dark grey from logo text */

* {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

.form-page {
  background-color: #bce6f8;
  color: hsl(240, 1%, 5%);
}

.form-container {
  width: 65%;
  background-color: #fff;
  margin: auto;
  padding: 30px;
}

.slider p {
  font-size: 1rem;
}

.side-text p {
  padding-top: 10px;
}

/* .question-component {
  color: red;
  border-bottom: 3px solid #bce6f8;
  padding: 20px 0;
  width: 100%;
} */

.button-submit button {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 1rem;
  margin: auto;
  display: block;
  background-color: #197e9c;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.slider button:hover {
  background-color: #35c0c2;
}

.slider button:disabled {
  background-color: grey;
}

.question-component p,
.question-component span,
.question-component li,
.question-component label {
  font-size: 1rem;
}

.question-intro {
  font-weight: bold;
  padding-bottom: 15px;
}

.narrative-component p {
  padding-bottom: 15px;
}

.select li {
  padding-bottom: 10px;
}

.matrix th,
td {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.matrix .label-rows {
  text-align: start;
}

.radio label {
  margin-left: 5px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #0b5d7b, #37b7a7);
  border-radius: 20px;
  color: #d4a466;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* width: 0; */
  /* opacity: 0; */
  transition: 1s ease 0.3s;
}
